@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#ImgFundo{
    position: relative;
    z-index: -1;
    background-size: cover;
    background-position: center;

    width: 25rem;
    height: 10rem;
    filter:brightness(30%);
}

#ImgProfessor{
    width: 10.5rem;
    height: 10rem;

    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px black solid;
    
    object-fit: cover;   
}

.class-info{
    position: absolute;
    z-index: 1;
    margin-top: -13rem;
    margin-left: 1rem;

    color: white;
    font-size: 1.1em;
    font-family: 'Open Sans';
    font-weight: 700;
    word-wrap: break-word
}

.inforClass{
    margin: 4rem 1rem;
}

.inforClass p{
    margin-bottom: 0.5rem;
}

.cardClasse{
    width: 25rem;
    height: 30rem;
    border: 1px #000 solid;

    margin-bottom: 5rem;
}

.class-info{
    display: flex;
}

.select {
    position: absolute;
    z-index: 3;
    margin-left: 23rem;
    margin-top: -9rem;
}

svg{
    background: transparent;
}

.buttonSelect {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    width: 70px;
    text-align: center;
    right: 0;
    background: #fff;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu button{
    background: transparent;
    border: none;
    padding: 0.8rem 0;

    font-weight: bold;
}

.dropdown-menu li:hover{
    background: #5c5b5bb9;
}

.select:hover .dropdown-menu {
    display: block;
}

#title-materia{
    padding: 2rem 0 10rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: "Inter";
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

#linha-Footer-Classe{
    width: 22rem;
    margin-left: 1.5rem;
    height: 0.4rem;
    background-color: rgba(255, 153, 0, 1);
    border: none;
}

.footer-content{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

#professorName{
    margin-left: 1rem;
}